  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate__marquee {
    display: flex;
    width: 200%;
    animation: marquee 30s linear infinite;
  }

  .animate__marquee:hover {
    animation-play-state: paused;
  }

  .carousel__fade::before,
  .carousel__fade::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
  }

  .carousel__fade::before {
    left: 0;
    background: linear-gradient(to right, #f5f8fb, transparent);
  }

  .carousel__fade::after {
    right: 0;
    background: linear-gradient(to left, #f5f8fb, transparent);
  }