.range__minimal {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: transparent;
}

.range__minimal::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--color-discount);
}

.range__minimal::-moz-range-track {
  height: 2px;
  background: white;
  border: 1px solid var(--color-discount);
}

.range__minimal::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: 4px solid var(--color-discount);
  border-radius: 50%;
  cursor: pointer;
}

.range__minimal::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}